.success {
  color: greenyellow;
}
.error {
  color: red;
}
.loading {
  color: blueviolet;
}
section {
  margin: 20px 0;
}
h1 {
  font-size: 2rem;
  border-bottom: 1px solid white;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
button {
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 10px 0 0;
  border-radius: 5px;
  background-color: #61dafb;
  color: white;
}
.logo {
  text-align: center;
}
img {
  width: 100px;
  height: 100px;
  animation: rotate 5s linear infinite;
}
@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
div {
  margin-bottom: 20px;
}

input {
  border: none;
  outline: none;
  padding: 10px;
  margin: 5px 10px 0 0;
  border-radius: 5px;
  background-color: white;
}
